div
  h1 Отели
  p Название: #{ name }
  p Категория: #{ category }
  p Описание: #{ description }
  p Страна: #{ country }
  p Регион: #{ region }
  p Расположение: #{ locationDescription }
  p Адресс: #{ address }
  p Телефон: #{ phone }
  p Факс: #{ fax }
  p Email: #{ email }
